.hero {
 height: 90vh;
 width: 100%;
 background-color: #eefbf3;
 display: flex;
 justify-content: space-between;
}

.leftSide {
 margin-top: 6rem;
 padding-left: 5%;
}

.rightSide {
 background: url('../public/assets/hero_image.png') no-repeat center center;
 background-size: contain;
 margin: 50px 30px 0;
 padding: 0;
 width: 70%;
}

.hero p {
 font-size: 20px;
 margin-top: 20px;
 margin-bottom: 0;
 line-height: 1.8;
 max-width: 70%;
 color: rgb(101, 101, 101);
}
